@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <form action="/account/login" method="post">
            <input type="text" name="username" value="" />
            <input type="text" name="password" value="" />            
            <button type="submit" name="btnSubmit" value="Submit" title="Submit"> Submit</button>
        </form>
    </div>
</body>
</html>
